.item-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &__card {
    list-style-type: none;
    background-color: $walmart-white;
    border: solid 2px $walmart-blue;
    border-radius: 2rem;
    margin: 0.75rem;
    width: 15rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    padding-top: 1rem;
  }

  &__text {
    margin: 0;
    padding-top: 0.75rem;
  }
}