// Walmart Colour Pallete
// Brand colours
$walmart-blue:#0072CE;
$walmart-darkblue:#006BC2;
$walmart-magenta:#350D36;
$walmart-yellow:#FFB81C;

// Neutral colours
$walmart-black:#373B37;
$walmart-white:#FFFFFF;

// Accent colours
$walmart-green:#2BAC76;
$walmart-red:#E3403D;